<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ countstaff }}</h3>

                <p>Jumlah Staff</p>
              </div>
              <div class="icon">
                <i class="ion ion-person"></i>
              </div>
              <a href="{% url 'profile-staff' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ approve }}</h3>

                <p>Permohonan Diterima</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-document"></i>
              </div>
              <a href="{% url 'history' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ pending }}</h3>

                <p>Pending</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-document"></i>
              </div>
              <a href="{% url 'pending' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ reject }}</h3>

                <p>Permohonan Ditolak</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-document"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </section>
<hr>
  <div class="container">
    <div class="row">
        <div class="col" style="text-align: center;">
          <div class="card card-secondary mr-5 ml-5">
            <div class="card-header">
              <h3 class="card-title">Import Data Staff Dari Database (AMARAN! : Hanya ambil jika perlu)</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            
              <div class="card-body">
                <a href="{% url 'csv' %}" class="btn btn-primary">Import</a>
              </div>
              <!-- /.card-body -->
  
              
            
          </div>
        </div>
    </div>   
</div>

</div>


