{% extends 'core/home.html' %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1> Staff</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"Staff</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
<div class="container">
  <h6 class="text-center display-4">Cari Staff</h6>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form method="GET">
                      {% csrf_token %}
                        <div class="input-group">
                            <input type="search" name="search" class="form-control form-control-lg" placeholder="Letak Kata Kunci">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><br><br>
    <div class="row">
        {% for staffs in staff %}
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
          <div class="card bg-light d-flex flex-fill">
            <div class="card-header text-muted border-bottom-0">
              {{ staffs.cawangan }}
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <h2 class="lead"><b>{{ staffs.fullname }}</b></h2>
                  
                  <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Email: {{ staffs.email }}</li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : {{ staffs.phone }}</li>
                  </ul>
                </div>
                <div class="col-5 text-center">
                  <img src="{{ staffs.image.url }}" alt="user-avatar" class="img-circle img-fluid">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="{% url 'staff_profile' staffs.id %}" class="btn btn-sm btn-primary">
                  <i class="fas fa-user"></i> View Profile
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-md-4">
            <div class="card user-card">
                <div class="card-header">
                    <a href="{% url 'staff_profile' staffs.id %}" class="btn btn-primary">View</a>
                </div>
                <div class="card-block">
                    <div class="user-image">
                        <img src="{{ staffs.image.url }}" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600 m-t-25 m-b-10">{{ staffs.fullname }}</h6>
                    <p class="text-muted">{{ staffs.phone }} <br>{{ staffs.email }}</p>
                    
                    <hr>
                    <p class="m-t-15 text-muted">{{ staffs.cawangan }}</p>
                </div>
            </div>
        </div> -->
       {% endfor %}
</div>
</div>
{% endblock %}