{% extends 'core/home.html' %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Edit</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Edit</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section style="background-color: #eee;">  
        <div class="card card-primary mr-5 ml-5">
            <div class="card-header">
              <h3 class="card-title">Mohon Cuti</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="card-body">
            
                <div class="form-group">
                  <label>Jenis Cuti</label>
                  {{ form.leave }}
                </div>
                <div class="row">
                  <div class="col">
                    <label>Dari</label>
                    {{ form.from_date }}
                  </div>
                  <div class="col">
                    <label>Ke</label>
                    {{ form.to_date }}
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label>Sebab/Catatan</label>
                  {{form.details}}
                </div>
                <div class="form-group">
                  <label>Lampiran</label>
                  {{form.attachment}}
                  {% if app.attachment %}
                    <a href="{{ app.attachment.url }}">View</a>
                    {% else %}
                    None
                    {% endif %}
                </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a href="{% url 'delete' app.id %}" class="btn btn-danger">Padam</a>
              </div>
            </form>
          </div>

      </section>
</div>
{% endblock %}